body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(18, 131, 237);
  color: rgb(245, 232, 232);
  font-family: cursive;
}

.container {
  text-align: center;
  width: 400px;
  position: relative;
} 

 .counter {
  font-size: 40px;
} 

.loading-bar-back {
  position: absolute;
  height: 8px;
  background-color: lightgray;
  width: 100%;
  border-radius: 5px;
  border: none;
}  

 .loading-bar-front {
  position: absolute;
  height: 8px;
  background-color: rgb(10, 232, 88);
  width: 0%;
  border-radius: 5px;
  border: none;
}  
