body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(3, 39, 7);
  color: rgb(235, 224, 224);
  font-family: cursive;
}

.container {
  /* display: flex; */
  /* text-align: center; */
}

.mouse-event {
  border: solid 1px rgb(237, 253, 12);
  margin: 40px;
  min-width: 180px;
  min-height: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
}

.mouse-event h4 {
  position: absolute;
  top: -50px;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 100;
  color: rgb(247, 243, 243);
}

@media (max-width: 500px) {
  .container {
    flex-direction: row;
  }
}
